
.vs/FacilityOrMansion/FileContentIndex/64515e1a-c4ef-4134-9666-699e45df526c.vsidx
.vs/FacilityOrMansion/FileContentIndex/b650c1c7-d6cf-4ed9-82ce-9f703ea7bb2f.vsidx
.vs/FacilityOrMansion/DesignTimeBuild/.dtbcache.v2
.vs/FacilityOrMansion/v17/.suo
.vs/FacilityOrMansion/FileContentIndex/d917df53-a0b1-495b-84be-a0937cf9dfd8.vsidx
/.vs
Deps/UnityMDK.dll
Build/
